
@model Model.News

@{
    ViewBag.Title = "CreateNews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateNews</h2>
<script src="/Assets/ckfinder/config.js"></script>
<script src="/Assets/ckeditor/ckeditor.js"></script>

<form method="post" action="/Home/UpdateNews/@Model.NewsId" enctype="multipart/form-data" onsubmit="return checkValidate()">


    <div class="container">
        <h4>News</h4>
        <hr />
        <div class="form-group">
            <label class="control-label">Title</label>
            <input class="form-control form-control1" name="Title" value="@Model.Title" required />
        </div>

        <div class="form-group">
            <label class="control-label">Short Content</label>

            <textarea class="form-control" name="shortContent" required>@Model.shortContent</textarea>
        </div>

        <div class="form-group">
            <label class="control-label">Content</label>
            <textarea name="content" id="content" class="form-control">@Html.Raw(Model.Content)</textarea>
            <p id="errorContent" style="width:100%;color:red;font-weight: bold;" class="text-hide text-center">Please input Content!</p>
            <Script>
                CKEDITOR.replace('content', {
                    customConfig: '/Assets/ckeditor/config.js',
                });
            </Script>
        </div>



        <div class="form-group">
            <label for="exampleInputFile">
                File <=3mb
            </label>
            <input type="file" class="form-control-file" id="imgInp" name="ImageUrl" />
            <input type="text" name="ImageUrl" value="@Model.UrlRepresent" hidden="hidden" />
            <img src="/Assets/images/@Model.UrlRepresent" alt="Image Preview" id="blah" width="100" height="100" name="ImageUrl" />
        </div>


        <br />
        <div>
            <input type="submit" value="Edit" class="btn btn-success" />
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</form>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<script>
    function checkValidate() {
        var val = CKEDITOR.instances['content'].getData();
        if (val != '') {
            $('#errorContent').addClass('text-hide');
            return true;
        }
        else {
            $('#errorContent').removeClass('text-hide');
            return false;
        }
    }
    $(document).ready(() => {
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#imgInp").change(function () {
            readURL(this);
        });
    })
</script>

